.btn-success {
  background-color: #1e5799;
  border: none;
}

.btn-success:hover {
  background-color: #155fa0;
}

.card h6 {
  color: #1e5799;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .bi-gear {
  color: #777;
  cursor: pointer;
  transition: color 0.2s;
}

.card .bi-gear:hover {
  color: #1e5799;
}
