.detail-card {
  max-width: 800px;
  border-radius: 15px;
  padding: 20px;
}

.proof-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .detail-card {
    padding: 15px;
  }
}

.proof-img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto; /* biar di tengah */
}
